{% extends "base.html" %}

{% block title %}Inicio Pago{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pago.css' %}">
{% endblock %}

{% block content %}
<body>
    <header class="bg-success text-white text-center py-4">
        <h1>Inicio Pago</h1>
    </header>
    
    <main class="container my-4">
        <form method="post" action="{% url 'iniciar_pago' %}" class="pago-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Pagar con Webpay</button>
        </form>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/pago.js' %}"></script>
</body>
{% endblock %}
