<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <p>Hola {{ nombre }},</p>
    
    <p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <p><a href="{{ enlace_recuperacion }}" target="_blank">Restablecer Contraseña</a></p>
    
    <p>Si no solicitaste este cambio, puedes ignorar este correo electrónico.</p>
    
    <p>Atentamente,<br>Equipo de Soporte</p>
    <p>No responder a este correo fue enviado automáticamente.</p>
</body>
</html>