{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-header text-center">
                            <h3>Correo de Restablecimiento Enviado</h3>
                        </div>
                    </div>
                    <div class="card-body text-center">
                            <p>Se ha enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada.</p>
                            <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% block script %}
    <script src="{% static 'js/login.js' %}"></script>
    {% endblock %}
    </body>
    {% endblock %}
    
