<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Reserva</title>
</head>
<body>
    <h1>Confirmación de Reserva</h1>
    <p>Estimado(a) {{ nombre }},</p>
    
    <p>Gracias por reservar con nosotros. Aquí está la confirmación de tu reserva:</p>
    
    <p><strong>Fecha de Reserva:</strong> {{ fecha }}</p>
    <p><strong>Cantidad de Personas:</strong> {{ cantidad_personas }}</p>
    
    <p>¡Esperamos verte pronto!</p>
    
    <p>Saludos cordiales,</p>
    <p>El equipo de Altos de San Jose</p>
    <<p>No responder a este correo fue enviado automáticamente.</p>
</body>
</html>
