body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 0.05em;
}

main {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

main:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.carousel-item img:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px;
}

#intro-paragraph {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#calendar {
    max-width: 1100px;
    padding: 50px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* FullCalendar styles */
.fc {
    font-family: 'Arial', sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fc-toolbar-title {
    font-size: 1.5em;
    color: #333;
}

.fc-daygrid-day {
    transition: background-color 0.3s, transform 0.3s;
}

.fc-daygrid-day:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}
